@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
*{
    font-family: 'Recursive', sans-serif;  
}

.tela-inicil{
    display: flex;
    flex-direction: column;
    background-color: #FB6B6B;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.tela-inicil div{
    display: flex;
    flex-direction: column;
}
.tela-inicil img{
    margin-bottom: 20px;
}

.tela-inicil div span{
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #FFFFFF;
}
.tela-inicil button{
    margin-top: 40px;
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Recursive', sans-serif;
    color: #D70900;
}
.tela-recal{
    width: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    background-color: #FB6B6B;
    align-items: center;
    padding: 10px 0px;
}
.tela-recal::-webkit-scrollbar {
    display: none;
}

.logo-name{
    display: flex;
    width: 100%;
    height: 70px;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    position: fixed;
    background-color: #FB6B6B;
    top: 0px;
    left: 0px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.logo-name img{
    width: 52px;
    height: 60px;
    margin-right: 25px;
}

.todas-perguntas{
    padding: 70px 0px;
}
.flashcards{
    margin-top: 45px;
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 10px;
}

.flashcards ion-icon{
    width: 20px;
    height: 23px;
    color: #333333;
    cursor: pointer;
}

.perguntas-respostas{
    margin-top: 40px;
    width: 299px;
    height: 131px;
    background-color: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}
.perguntas-respostas span{
    font-family: 'Recursive', sans-serif;
}
.perguntas-respostas img{
    position: absolute;
    width: 30px;
    height: 18px;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
}
.face { 
    box-sizing: border-box;
    padding: 15px 10px;
    width: 299px;
    height: 131px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:  #FFFFD5;
    border: 1px solid  #FFFFD5;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.rotacao-aparecer{
    transform: rotateY(0deg);
}

.rotacao-esconder{
    transform: rotateY(-180deg);
}

.botoes-respostas{
    display: flex;
    font-family: 'Recursive', sans-serif;
    color: #FFFFFF;
    margin-top: 30px;
    justify-content: space-between;
}

.resposta-vermelha{
    text-decoration: line-through;
    color: #D70900;
}
.resposta-vermelha ion-icon{
    color: #D70900;
}
.resposta-amarelo{
    text-decoration: line-through;
    color: #FF922E;
}
.resposta-amarelo ion-icon{
    color: #FF922E;
}
.resposta-verde{
    text-decoration: line-through;
    color: #2FBE34;
}
.resposta-verde ion-icon{
    color: #2FBE34;
}

.botao-vermelho{
    text-align: center;
    width: 86px;
    height: 38px;
    background: #FF3030;
    border-radius: 5px;
    cursor: pointer;
}

.botao-amarelo{
    text-align: center;
    width: 86px;
    height: 38px;
    background: #FF922E;
    border-radius: 5px;
    cursor: pointer;
}
.botao-verde{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 38px;
    background: #2FBE34;
    border-radius: 5px;
    cursor: pointer;
}

.roda-pe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    font-family: 'Recursive', sans-serif;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
}